div#book_page{
  padding:10px;
}

div#book_page img.main{
  float:right;
  width:300px;
}

div#book_page dl{
  margin:20px 0 10px;
  width: 50%;
}

div#book_page dl dt{
  float:left;
  width: 50%;
  font-weight: bold;
  clear:left;
  margin-bottom:5px;
}

div#book_page dl dd{
  float:right;
  width: 50%;
  margin-bottom:5px;
}
