li.BookListItem{
  position: relative;
}

li.BookListItem.read{
  opacity: 0.4;
}

li.BookListItem img{
  width: 100%;
}

div.book_stub{
  position: absolute;
  bottom: 0;
  background-color: rgba(255,255,255,0.8);
  padding: 10px;
  width: 100%;
}

div.book_stub span{
  display: block;
  margin-bottom: 6px;
}
